@{
    ViewData["Title"] = "EmiList";
}

<!-- Recent Sales -->
<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="card-body">
            <div class="row">
                <div class="col-sm-5">
                    <h5 class="card-title ">Account Detail<span>| Today</span></h5>
                </div>
                <div class="col-sm-7 mt-3">
                    <div class="col-sm-3 d-flex" style="float:right">
                        <select class="form-select" aria-label="Default select">                            
                            <option value="1">Jan</option>
                            <option value="2">Feb</option>
                            <option value="3">Mar</option>
                        </select>
                        <select class="form-select" aria-label="Default select" style="margin-left:10px">
                            <option value="1">2021</option>
                            <option value="2">2022</option>
                            <option value="3">2023</option>
                        </select>
                    </div>
                </div>
            </div>
            <table class="table table-borderless datatable">
                <thead>
                    <tr>
                        <th scope="col">Month</th>
                        <th scope="col">EMI</th>
                        <th scope="col">Int</th>
                        <th scope="col">Debit</th>
                        <th scope="col">Credit</th>
                        <th scope="col">Fine</th>
                        <th scope="col">Total Credit</th>
                        <th scope="col">Total Debit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Geeta Ben</td>
                        <td>1000</td>
                        <td>300</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>30000</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>Keval </td>
                        <td>1000</td>
                        <td>300</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>30000</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>Keval </td>
                        <td>1000</td>
                        <td>300</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>30000</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>Keval </td>
                        <td>1000</td>
                        <td>300</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>30000</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>Keval </td>
                        <td>1000</td>
                        <td>300</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>30000</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>Keval </td>
                        <td>1000</td>
                        <td>300</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>30000</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>Keval </td>
                        <td>1000</td>
                        <td>300</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>30000</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>Keval </td>
                        <td>1000</td>
                        <td>300</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>30000</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>Keval </td>
                        <td>1000</td>
                        <td>300</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>30000</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>Keval </td>
                        <td>1000</td>
                        <td>300</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>30000</td>
                        <td>1000</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div><!-- End Recent Sales -->
